# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (if testing locally)
docker/data/
